*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: "custom font";
  src: url("font.ttf");
}

.container{
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 400px;
  height: 600px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #AAAAAA;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
}

.display-calculator{
  border: 2px solid black;
  width: 356px;
  height: 120px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #EEEEEE;
}
#current-screen{
font-size: 40px;
width: 312px;
height: 64px;
font-family:"custom font", sans-serif ;
}
#last-screen{
font-size: 20px;
width: 312px;
height: 32px;
font-family: 'custom font', sans-serif;
}

.btns-calculator{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  gap: 10px;
  margin-bottom: 10px;
}
.btn-clear{
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 20px;
  background-color: #DF5200;
  cursor: pointer;
  transition: 0.2s ease;
}
[data-operator]{
  background-color: #3E3F3E;
}
.btn-clear:hover{
  background-color: #df520000;
}
.btn-clear:active{
  background-color:  #DF5200;
}
.btn-delete{
  border-radius: 5px;
  border: 2px solid black;
  font-size: 20px;
  background-color: #DF5200;
  cursor: pointer;
  transition: 0.2s ease;
}
.btn-delete:hover{
  background-color: #d6804f00;
}
.btn-delete:active{
  background-color: #DF5200;
}
.calculator-numbers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;

}
.numbers{
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s ease;
}
.numbers:hover{
  background-color: rgb(207, 204, 204);
}
.numbers:active{
  background-color: rgb(185, 182, 182);
}
footer{
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 10px;
}
p{
  margin-right: 10px;
}
a{
  text-decoration: none;
  color: #000;
  transition: 0.2s ease;
}
a:hover{
  color: #FFF;
}